#reservas {
    padding: 20px;
    background-color: rgb(110, 186, 109);
}

#reservas h2 {
    background: linear-gradient(to right, #416d0a, #5d9715);
    color: white;
    padding: 20px 50px;
    border-radius: 20px;
    text-align: center;
    letter-spacing: 3px;
    font-size: 30px;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select,
textarea {
    width: 60%;
    padding: 8px 10px;
    margin: 6px 0;
    border: 1px solid #b0d4ff;
    border-radius: 8px;
    background: #f1f7ff;
}



select.valid {
  border: 2px solid green;
  background-color: #e6ffe6;
}

select.invalid {
  border: 2px solid red;
  background-color: #ffe6e6;
}